.bg-game {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

#gameCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#jumpButton {
  position: absolute;
  bottom: 0;
  left: 20px;
  border-radius: 25px;
  background-color: lightgreen;
  color: white;
  font-family: "Courier New", Courier, monospace;
  border: none;
  font-size: 50px;
  transition: all 0.5 ease-in-out;
  border: groove 5px black;
}

#startButton:hover {
  animation: colorchange infinite 0.3s ease;
}
@keyframes colorchange {
  0% {
    background-image: linear-gradient(to bottom, lightblue, cyan, royalblue);
  }
  50% {
    background-image: linear-gradient(to bottom, cyan, lime, yellow);
  }
  100% {
    background-image: linear-gradient(to bottom, yellow, orange, red);
  }
}

#startButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
}

#highestScore {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 18px;
  color: white;
}

#countdown {
  color: white;
  font-size: 2em;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: red 10px solid;
  position: absolute;
  /* width: 800px; */
  margin: auto;
}

/* School tool css design */
/* ====================== */

.content {
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  background-color: darkslategray;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-flow: dense;
  /* opacity: 0.1; */
}

.grid img {
  width: 300px;
  box-shadow: 5px 5px 5px darkblue;
}

/* Media queries for different screen sizes */
@media (max-width: 720px) {
  .container {
    background-size: cover;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    background-size: contain;
  }
}
