 .bg-game {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
  }

  #gameCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }

  #jumpButton {
    position: absolute;
    bottom: 0;
    left: 20px;
    border-radius: 25px;
    background-color: lightgreen;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    font-size: 50px;
    transition: all .5 ease-in-out;
    border: groove 5px black;
  }

  #startButton:hover{
    animation: colorchange infinite 0.3s ease;
  }
  @keyframes colorchange {
0% {
  background-image: linear-gradient(to bottom, lightblue, cyan, royalblue);
}
50% {
  background-image: linear-gradient(to bottom, cyan, lime, yellow);
}
100% {
  background-image: linear-gradient(to bottom, yellow, orange, red);
}
}

  #startButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }


  #score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
  }

  #highestScore {
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 18px;
    color: white;
  }

  #countdown{
    color: white;
    font-size: 2em;
  }

  .group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: red 10px solid;
    position: absolute;
    /* width: 800px; */
    margin: auto; 
  }

  /* Calculator Content */
  /* ================== */

  
.bg{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

.calculator {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: darkslategray;
    box-shadow: 0 0 10px black;
}

.buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

.buttons button {
    background-color: orange;
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
    border-radius: 20px;
    text-shadow: 0 0 10px black;
}


#result {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.2rem;
    border-radius: 20px;
}

.calcu{
    background-color: wheat;
    box-shadow: 0 0 10px black;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px gold;
}

/* Table Generator */
/* =============== */

.table {
  border-collapse: collapse;
}
.table, th, td {
  border: 1px solid black;
  padding: 5px;
}
td input {
  width: 25vh;
}

.div{
  max-width: 500px;
  display: block;
  margin: auto;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.div h1{
  text-align: center;
}

.div button{
  margin: auto;
  background-color: green;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px black;
  color: white;
  margin-top: 10px;
}

/* School tool css design */
/* ====================== */


.content{
  text-align: center;
  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;
  background-color: darkslategray;
}

.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 10px;
grid-auto-flow: dense;
/* opacity: 0.1; */
}

/* h1{
  color: #bc2e1e;
  margin-bottom: 20px;
  padding: 20px;
  background: #edde9c;
  box-shadow: 5px 5px 5px goldenrod;
  text-shadow: 
  0 1px 0px #378ab4,
  1px 0 0px #5dabcd,
  1px 2px 1px #378ab4,
  2px 1px 1px #5dabcd,
  2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
} */

.grid img{
  width:300px;
  box-shadow: 5px 5px 5px darkblue;
}

/* Media queries for different screen sizes */
@media (max-width: 720px) {
  .container {
      background-size: cover;
  }
}

@media only screen and (max-width: 400px) {
  .container {
      background-size: contain;
  }
}